@media (max-width: 1400px) {
  .wrapper .basic_block .left_block .F {
    left: 65px;
  }
}

@media (max-width: 1250px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -20px 0 0 50px;
  }
}

@media (max-width: 1150px) {
  .wrapper .basic_block .basic .text_basic .text {
    padding-left: 0;
  }
}

@media (max-width: 1100px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -30px 0 0 40px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 22px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 17px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 17px;
  }
  .wrapper .basic_block .left_block .F {
    left: 75px;
  }
  .wrapper .basic_block .left_block .sub_block_right {
    right: 40px;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 200px;
  }
  .wrapper .contacts_form .contact .forms {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper .contacts_form .contact .forms .form_1 {
    width: 50%;
  }
  .wrapper .contacts_form .contact .forms .form_2 {
    padding-right: 20px;
  }
}

@media (max-width: 995px) {
  .wrapper .basic_block {
    display: block;
  }
  .wrapper .basic_block .basic {
    margin-right: -200px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper .basic_block .basic .text_basic {
    width: auto;
  }
  .wrapper .basic_block .basic .text_basic .text {
    padding-left: 0;
    font-size: 30px;
  }
  .wrapper .basic_block .basic .main .img img {
    width: 55%;
    margin-left: 30px;
  }
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -30px 0 0 70px;
  }
  .wrapper .basic_block .basic .main .header {
    width: 60%;
  }
  .wrapper .basic_block .left_block {
    display: none;
  }
  .wrapper .cases .case .title_case {
    font-size: 30px;
  }
  .wrapper .cv_progress .cv .title_cv {
    font-size: 30px;
  }
  .wrapper .contacts_form .contact .title_contact {
    font-size: 30px;
  }
  .wrapper .cases .case .projects .project {
    width: 45%;
  }
  .wrapper .cases .case .projects .project .img_project {
    padding: 10px;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 250px;
  }
  .wrapper .contacts_form .contact .forms .form_2 .info {
    width: 45%;
  }
}

@media (max-width: 870px) {
  .wrapper .basic_block .basic .main {
    height: 400px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 18px;
    line-height: 30px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 15px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -50px 0 0 70px;
  }
  .wrapper .cases .case .projects .project .img_project {
    padding: 10px;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 200px;
  }
  .wrapper .cases .case .container .tab-content .tab-pane.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .cases .case .container .tab-content .tab-pane.active .img_tabs {
    width: 70%;
  }
  .wrapper .cases .case .container .tab-content .tab-pane.active .title {
    width: 90%;
    padding: 20px 20px 50px 0;
  }
}

@media (max-width: 730px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -50px 0 0 60px;
  }
}

@media (max-width: 700px) {
  .wrapper .basic_block .basic {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .basic_block .basic .text_basic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .basic_block .basic .text_basic .text {
    padding: 10px;
  }
  .wrapper .basic_block .basic .main {
    width: 90%;
  }
  .wrapper .basic_block .basic .main .img img {
    width: 80%;
  }
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -30px 0 0 80px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 18px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 18px;
  }
  .wrapper .basic_block .basic .main .header {
    width: 90%;
  }
  .wrapper .cv_progress .cv .prog progress {
    width: 70%;
  }
}

@media (max-width: 676px) {
  .wrapper .basic_block .basic .text_basic {
    margin: 30px 0;
  }
  .wrapper .basic_block .basic .text_basic .text {
    line-height: 30px;
  }
}

@media (max-width: 600px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -40px 0 0 70px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 18px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 18px;
  }
  .wrapper .cases .case .projects .project {
    width: 50%;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 170px;
  }
}

@media (max-width: 570px) {
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 16px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 16px;
  }
  .wrapper .contacts_form .contact .forms {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .contacts_form .contact .forms .form_1 {
    width: 80%;
  }
  .wrapper .contacts_form .contact .forms .form_2 {
    margin-top: 30px;
    width: 90%;
  }
}

@media (max-width: 530px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -60px 0 0 60px;
  }
  .wrapper .cases .case .projects {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .wrapper .cases .case .projects .project {
    width: 80%;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .wrapper .basic_block .basic .main {
    height: 350px;
  }
  .wrapper .basic_block .basic .main .img img {
    margin-top: -20px;
  }
  .wrapper .basic_block .basic .main .img .text_img {
    margin: 0px 0 0 60px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    font-size: 13px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    font-size: 13px;
  }
  .wrapper .basic_block .basic .text_basic .text {
    font-size: 28px;
  }
  .wrapper .cases .case .title_case {
    font-size: 28px;
  }
  .wrapper .cv_progress .cv .title_cv {
    font-size: 28px;
  }
  .wrapper .contacts_form .contact .title_contact {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    line-height: 20px;
  }
  .wrapper .cases .case .projects .project {
    width: 80%;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 200px;
  }
}

@media (max-width: 428px) {
  .wrapper .basic_block .basic .main .img .text_img {
    margin: -5px 0 0 55px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    line-height: 20px;
  }
  .wrapper .basic_block .basic .text_basic .text {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .wrapper .basic_block .basic .main {
    height: 300px;
  }
  .wrapper .basic_block .basic .main .img img {
    margin-top: -10px;
  }
  .wrapper .basic_block .basic .main .img .text_img {
    margin: 0 0 0 55px;
    width: 50%;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    line-height: 24px;
  }
  .wrapper .basic_block .basic .main .img .text_img .title {
    display: none;
  }
  .wrapper .basic_block .basic .main .img .text_img .title2 {
    display: none;
  }
  .wrapper .basic_block .basic .main .header .menu {
    padding-right: 5px;
  }
  .wrapper .basic_block .basic .main .header .logo {
    padding-left: 15px;
  }
  .wrapper .cases .case .projects .project {
    width: 90%;
  }
  .wrapper .cases .case .title_case a .line {
    width: 90%;
  }
  .wrapper .cases .case .container .tab-content .tab-pane.active .title {
    width: 100%;
    padding: 20px 10px 50px 10px;
    font-size: 30px;
  }
  .wrapper .cases .case .container .tab-content .tab-pane.active .subtitle {
    font-size: 20px;
  }
  .wrapper .cv_progress .cv .title_cv a .line {
    width: 90%;
  }
  .wrapper .contacts_form .contact .title_contact a .line {
    width: 90%;
  }
}

@media (max-width: 345px) {
  .wrapper .basic_block .basic .main .img .text_img {
    width: 55%;
    margin: -10px 0 0 55px;
  }
  .wrapper .basic_block .basic .main .img .text_img .subtitle {
    line-height: 24px;
  }
  .wrapper .basic_block .basic .text_basic .text {
    font-size: 28px;
  }
  .wrapper .cases .case .projects .project {
    width: 90%;
  }
  .wrapper .cases .case .projects .project .img_project img {
    height: 170px;
  }
  .wrapper .contacts_form .contact .forms .form_1 {
    width: 90%;
  }
}
/*# sourceMappingURL=adaptive.css.map */