.wrapper .title_case {
  opacity: 0;
}

.wrapper .title_case.element-show {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.wrapper .projetitle_casects {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.wrapper .title_case.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.wrapper .projects {
  opacity: 0;
}

.wrapper .projects.element-show {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.wrapper .projects {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.wrapper .projects.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.wrapper .title_cv {
  opacity: 0;
}

.wrapper .title_cv.element-show {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.wrapper .title_cv {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.wrapper .title_cv.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper .prog {
  opacity: 0;
}

.wrapper .prog.element-show {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.wrapper .prog {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.wrapper .prog.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper .title_contact {
  opacity: 0;
}

.wrapper .title_contact.element-show {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.wrapper .title_contact {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.wrapper .title_contact.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.wrapper .form_1 {
  opacity: 0;
}

.wrapper .form_1.element-show {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.wrapper .form_1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.wrapper .form_1.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper .form_2 {
  opacity: 0;
}

.wrapper .form_2.element-show {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.wrapper .form_2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.wrapper .form_2.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=animations.css.map */